@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

$dark-blue: hsl(209, 23%, 22%);
$bg-very-dark-blue: hsl(207, 26%, 17%);
$very-dark-blue: #111517;
$dark-gray: hsl(0, 0%, 52%);
$very-light-gray: hsl(0, 0%, 98%);
$text-light: hsl(0, 0%, 100%);
$bg-gradient: linear-gradient(90deg, #1ce4ff 0%, #77bdec 100%);
$bg-primary: #24ccfd;
$bg-focus: #e2e6ea;

$primary-family: "Nunito Sans", sans-serif;
$letter-spacing: 1px;
$max-width: 90%;
$font-light: 300;
$font-medium: 700;
$font-bold: 800;

$light-shadow: 0px 0px 5px silver; ;
